{% extends 'ProyectoTiendaApp/base.html' %}

{% load static %}

{% block content %}
<title>INICIO</title>
   <!-- Heading -->
   <section class="page-section clearfix">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoTiendaApp/img/principal.png'%}" alt="" style="width:150%;">
          <h2 class="section-heading mb-4" >
        </div>
      </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con más de 20 años de experiencia a nuestras espaldas, en el tratado profesional de estampados e impresion, tenemos los conocimientos y herramientas necesarios para llevar cualquier trabajo personalizado de forma profesional.</p>
            </div>
      </div>
    </section>

{% endblock %}