{% extends 'ProyectoTiendaApp/base.html' %}

{% load static %}


{% block content %}
<title>INICIO</title>
<br><br>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="/media/ProyectoTiendaApp/banner2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sublimacion</h5>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/media/ProyectoTiendaApp/banner1.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Vinilo Textil</h5>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/media/ProyectoTiendaApp/banner3.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Subli-tela</h5>
      </div>
    </div>
    
  </div>
</div>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con más de 20 años de experiencia a nuestras espaldas, en el tratado profesional de estampados e impresion, tenemos los conocimientos y herramientas necesarios para llevar cualquier trabajo personalizado de forma profesional.</p>
            </div>
      </div>
    </section>

{% endblock %}