{% extends 'ProyectoTiendaApp/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<title>CONTACTO</title>
<br>
<h1 class="text-center"><strong>Contactanos</strong></h1>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <form action="" class="formulario_contacto" method="post">
            {% csrf_token %}
        
        
            {{ form | crispy }}
            {{mensaje}}
            <br>
        
            <div class="d-flex justify-content-end">
                <input type="reset" value="Cancelar" class="btn btn-outline-primary">
                &nbsp;
                <button type="submit" id="btnEnviar" class="btn btn-outline-primary">Enviar</button>
            </div>
        </form>
        
        
    </div>
</div>


<table id="tablecontactos">

</table>
{% endblock %}