{% extends 'ProyectoTiendaApp/base.html' %}

{% load static %}

{% block content %}

<title>PRODUCTOS</title>

<div class="container">
  <div class="row">

{% for producto in total_productos %}

<div class="col-md-3">
  <div class="card" style="width: 100%; margin:5px 5px;">
    <img src="{{producto.imagen.url}}" class="card-img-top" alt="">
      <div class="card-body" style="text-align:center">
        <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">${{producto.precio}}</p>

              {% if producto.stock %}
                    <p>Actualmente hay stock</p>

                {% else %}
                    <p>Actualmente nos quedamos sin stock</p>

                {% endif %}

            <a href="#" class="btn btn-primary">Comprar</a>
      </div>
  </div>

</div>

{% endfor %}
  </div>
</div>

{% endblock %}