{% extends 'ProyectoTiendaApp/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Actualizacion de perfil de usuario
{% endblock %}

{% block content %}
    <title>RECUPERACION DE PASSWORD</title>
    <br>
    <h1 class="text-center"><strong>RECUPERACION DE CONTRASEÑA</strong></h1>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">

            <form action="" method="POST" enctype="multipart/form-data" >

                {% csrf_token %}
      
                <fieldset class="form-group">
                    <legen class="border-bottom mb-4">Recuperar Contraseña</legen>
                    {{form | crispy}}

                </fieldset>
      
                <div class="form-group">
      
                    <button class="btn btn-outline-primary" type="submit">Recuperar Contraseña</button>
                </div>
            </form>
        </div>
    </div>


            {% if errors %}
                {{errors}}
            {% endif %}


{% endblock %}